# Maven
target
lib
.run

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Misc
*.log

# pass
src/main/resources/hibernate.cfg.xml

# etc
notes.docx
src/test/java/Main.java
src/test/java/FillTestDB.java

#git
.git

# build
build/base
build/trash
build/packs
build/mysql-data


